img {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

h1 {
    text-align: center;
}

body {
    background-color: #EEEEEE;
}

.about {
    color: black;
    font-size: 20px;
}

.quote {
    color: white;
    margin-left: 20px;
}

.source {
    color: white;
    font-style: italic;
    margin-left: 30px;
    padding-top: 0px;
}

.price{
    color: red;
}

.navbar{
    background-color: #001BFF !important;
}

.rightSide{
    border-style:solid;
    border-width: 1px;
}

.shipping{
    color: red;
    font-size: x-small;
}

.stock{
    color: green;
}